/*#### EDIT ####*/
.flip-clock-wrapper ul {
  width: 30px;
  height: 45px;
  margin: 3px;
}

.flip-clock-wrapper ul li a div div.inn {
  font-size: 35px;
}

.flip-clock-wrapper ul li {
  line-height: 44px;
}

.flip-clock-dot {
  width: 5px;
  height: 5px;
  left: 7px;
}

.flip-clock-divider {
  height: 50px;
}

.flip-clock-dot.bottom {
  bottom: 15px;
}

.flip-clock-dot.top {
  top: 15px;
}

.flip-clock-label,
.flip-clock-divider.days,
.flip-clock-divider.hours,
.clock ul:nth-child(1),
.clock ul:nth-child(2),
.clock ul:nth-child(3)
{
    display: none;
}